<section class="main-container col1-layout">
    <div class="main container">
      <div class="col-main">
        <div class="cart wow">
          <div class="page-title">
            <h2>shopping cart</h2>
          </div>
          <div class="table-responsive">
              <fieldset>
                <table class="data-table cart-table" id="shopping-cart-table">
                  
                  <thead>
                    <tr class="first last">
                      <th rowspan="1">Hình ảnh</th>
                      <th rowspan="1"><span class="nobr">Tên sản phẩm</span></th>
                      
                      <th colspan="1" class="a-center"><span class="nobr">Giá</span></th>
                      <th class="a-center" rowspan="1">Số lượng</th>
                      <th colspan="1" class="a-center">Tổng tiền</th>
                      <th class="a-center" rowspan="1">&nbsp;</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr class="first last">
                      <td class="a-right last" colspan="50"><button onclick="setLocation('#')" class="button btn-continue" title="Continue Shopping" type="button"><span><a routerLink="/main"><span>Tiếp tục mua sắm</span></a></span></button>
                        
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr class="first odd" *ngFor="let c of items">
                      <td class="image"><a><img src="assets/product/{{c.product_image}}" width="50" alt="" /></a></td>
                      <td><h2 class="product-name"> <p><a style="color: black">{{c.product_name}}</a></p> </h2></td>
                      
                      <td class="a-right"><span class="cart-price"> <span class="price">{{c.product_price | currency:"VND"}}</span> </span></td>
                      <td class="a-center movewishlist">
                      	
                      	<div class="cart_quantity_button">
                            <input class="cary_quantity_input" name="qtybutton" #inp  min="1" max="100" (change)="addQty(c,inp.value)" [value]="c.quantity" type="number">                                                                    

									<!-- <form action="" method="POST" >
									<input style="width: 50px" class="input-text qty" type="text" name="cart_quantity" value=""  >
									<input type="hidden" value="" name="rowId_cart" class="form-control">
									<input type="submit" value="Cập nhật" name="update_qty" class="btn btn-default btn-sm">
									</form> -->
						</div>
                      </td>
                      <td class="a-right movewishlist"><span class="cart-price"> 
                        <span class="price">
                         </span>{{ c.money | currency:"VND"}}</span></td>
                      <td class="a-center last"><a class="button remove-item" title="Remove item" (click)="_cart.deleteItem(c.product_id)"></a></td>
                    </tr>
                  </tbody>
                </table>
              </fieldset>
          </div>
          <!-- BEGIN CART COLLATERALS -->
            <div class="totals col-sm-4">
              <h3></h3>
              <div class="inner">
                <table class="table shopping-cart-table-total" id="shopping-cart-totals-table">
                  <colgroup>
                  <col>
                  <col width="1">
                  </colgroup>
                  <tfoot>
                    <tr>
                      <td colspan="1" class="a-left"><strong>Thành tiền</strong></td>
                      <td class="a-right"><strong><span class="price"><span>{{total | currency:"VND"}}</span></span></strong></td>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                      <td colspan="1" class="a-left"> Tổng tiền </td>
                      <td class="a-right"><span class="price"><span>{{total | currency:"VND"}}</span></span></td>
                    </tr>
                    <tr>
                      <td colspan="1" class="a-left"> Phí vận chuyển </td>
                      <td class="a-right"><span class="price"><span>Free</span></span></td>
                    </tr>
                  </tbody>
                </table>
                <ul class="checkout">
                  <li>
                    <a routerLink="/customer/checkout"><button class="button btn-proceed-checkout" type="button"><span>thanh toán</span></button></a>
                                                     
                  </li>
                  <br>
                  
                  <br>
                </ul>
              </div>
              <!--inner--> 
              
            </div>
          </div>
          
          <!--cart-collaterals--> 
          
        </div>
      </div>
  </section>
