<!-- Header -->
<header class="header-container">
    <div class="header-top">
      <div class="container">
        <div class="row"> 
          <!-- Header Language -->
          <div class="col-xs-6">
            <div class="dropdown block-language-wrapper"> <a role="button" data-toggle="dropdown" data-target="#" class="block-language" href="#"> <img src="assets/images/english.png" alt="language"> English <span class="caret"></span> </a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="assets/images/english.png" alt="language"> English </a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="assets/images/francais.png" alt="language"> French </a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="assets/images/german.png" alt="language"> German </a></li>
              </ul>
            </div>
            <!-- End Header Language --> 
            <!-- Header Currency -->
            <div class="dropdown block-currency-wrapper"> <a role="button" data-toggle="dropdown" data-target="#" class="block-currency" href="#"> USD <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> $ - Dollar </a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> £ - Pound </a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> € - Euro </a></li>
              </ul>
            </div>
            <!-- End Header Currency -->
            <div class="welcome-msg hidden-xs"> Default welcome msg! </div>
          </div>
          <div class="col-xs-6"> 
            <!-- Header Top Links -->
            <div class="toplinks">
              <div class="links">
                <div class="myaccount"><a title="My Account" ><span class="hidden-xs">My Account</span></a></div>
                <div class="wishlist"><a title="My Wishlist" href="wishlist.html"><span class="hidden-xs">Wishlist</span></a></div>
                <div class="check"><a title="Checkout" href="checkout.html"><span class="hidden-xs">Checkout</span></a></div>
                <div class="phone hidden-xs">1 800 123 1234</div>
              </div>
            </div>
            <!-- End Header Top Links --> 
          </div>
        </div>
      </div>
    </div>
    <div class="header container">
      <div class="row">
        <div class="col-lg-2 col-sm-3 col-md-2 col-xs-12"> 
          <!-- Header Logo --> 
          <a class="logo" title="Magento Commerce" routerLink="/main"><img alt="Magento Commerce" src="assets/images/gearvn-logo.png"></a> 
          <!-- End Header Logo --> 
        </div>
        <div class="col-lg-7 col-sm-4 col-md-6 col-xs-12"> 
          <!-- Search-col -->
          <div class="search-box">
            <form action="http://htmldemo.magikcommerce.com/ecommerce/inspire-html-template/jewellery/cat" method="POST" id="search_mini_form" name="Categories">
              <select name="category_id" class="cate-dropdown hidden-xs">
                <option value="0">All Categories</option>
                <option value="36">Camera</option>
                <option value="37">Electronics</option>
                <option value="42">&nbsp;&nbsp;&nbsp;Cell Phones</option>
                <option value="43">&nbsp;&nbsp;&nbsp;Cameras</option>
                <option value="44">&nbsp;&nbsp;&nbsp;Laptops</option>
                <option value="45">&nbsp;&nbsp;&nbsp;Hard Drives</option>
                <option value="46">&nbsp;&nbsp;&nbsp;Monitors</option>
                <option value="47">&nbsp;&nbsp;&nbsp;Mouse</option>
                <option value="48">&nbsp;&nbsp;&nbsp;Digital Cameras</option>
                <option value="38">Desktops</option>
                <option value="39">Computer Parts</option>
                <option value="40">Televisions</option>
                <option value="41">Featured</option>
              </select>
              <input type="text" placeholder="Search here..." value="" maxlength="70" class="" name="search" id="search">
              <button id="submit-button" class="search-btn-bg"><span>Search</span></button>
            </form>
          </div>
          <!-- End Search-col --> 
        </div>
        <!-- Top Cart -->
        <div class="col-lg-3 col-sm-5 col-md-4 col-xs-12">
          <div class="top-cart-contain">
            <div class="mini-cart">
              <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> <a routerLink="/customer/cart"> <i class="icon-cart"></i>
                <div class="cart-box"><span class="title">My Cart</span><span id="cart-total"> {{total}} </span></div>
                </a></div>
            </div>
            <div id="ajaxconfig_info" style="display:none"> <a href="#/"></a>
              <input value="" type="hidden">
              <input id="enable_module" value="1" type="hidden">
              <input class="effect_to_cart" value="1" type="hidden">
              <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
            </div>
          </div>
          <div class="signup"><a title="Login" href="login.html"><span>Sign up Now</span></a></div>
          <span class="or"> | </span>
          <div class="login"><a title="Login" routerLink="/login"><span>Log In</span></a></div>
        </div>
        <!-- End Top Cart --> 
      </div>
    </div>
  </header>
  <!-- end header -->
  <!-- Navbar -->
  <nav>
    <div class="container" >
      <div class="nav-inner"> 
        <ul id="nav" class="hidden-xs">
          <li class="level0 parent drop-menu"><a  routerLink="/home"><span>Trang chủ</span> </a>
          </li>

          <ng-container *ngFor="let mn of menus">
          <li class="level0 parent drop-menu" *ngIf="mn.children !=null"><a routerLink="/list"><span>{{mn.category_name}}</span> </a>
            <ul class="level1">
              <ng-container *ngFor="let m of mn.children">
              <li class="level1 first"><a [routerLink] = "['/product/list',m.category_id]"><span>{{m.category_name}}</span></a></li>
            </ng-container>
            </ul>
          </li>
        </ng-container>
        <ng-container *ngFor="let mn of menus1">
          <li class="level0 parent drop-menu" *ngIf="mn.children !=null"><a routerLink=""><span>{{mn.brand_name}}</span> </a>
            <ul class="level1" style="height: 470px;width: 800px">
              <ng-container *ngFor="let m of mn.children">
              <li class="level1 first"><a [routerLink] = "['/product/list-brand',m.brand_id]"><span>{{m.brand_name}}</span></a></li>
            </ng-container>
            </ul>
          </li>
        </ng-container>
          <!-- <li class="level0 parent drop-menu"><a routerLink="/list"><span>Thương Hiệu</span> </a>
            <ul class="level1" style="height: 470px;width: 800px">
              <li style="float: left;width: 150px" class=""><a href=""><span>dell</span></a></li>
              <li style="float: left;width: 150px" class=""><a href=""><span>asus</span></a></li>
              <li style="float: left;width: 150px" class=""><a href=""><span>acer</span></a></li>
            </ul>
          </li> -->
          
          <li class="level0 parent drop-menu"><a href="blog.html"><span>Tổng Đài</span> </a>
          </li>
          <li class="level0 parent drop-menu"><a href="blog.html"><span>Tuyển Dụng</span> </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end nav -->
  <!-- Slider -->
  <div id="magik-slideshow" class="magik-slideshow">
    <div class="wow">
      <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container' >
        <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
          <ul>
            <li data-transition='random' data-slotamount='7' data-masterspeed='10' data-thumb='../assets/images/slide-img1.jpg'>
                <img src="../assets/images/slide-img1.jpg" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner"/>
            </li>
            <li data-transition='random' data-slotamount='7' data-masterspeed='10' data-thumb='../assets/images/slide-img2.jpg' class="black-text">
                <img src='../assets/images/slide-img2.jpg'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner"/>
            </li>
            <!-- <li data-transition='random' data-slotamount='7' data-masterspeed='200' data-thumb='{{asset('public/frontend/images/6.png')}}' class="black-text">
                <img src='{{asset('public/frontend/images/6.png')}}'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner"/>
            </li>
            <li data-transition='random' data-slotamount='7' data-masterspeed='200' data-thumb='{{asset('public/frontend/images/3.jpg')}}' class="black-text">
                <img src='{{asset('public/frontend/images/3.jpg')}}'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner"/>
            </li>
            <li data-transition='random' data-slotamount='7' data-masterspeed='200' data-thumb='{{asset('public/frontend/images/4.jpg')}}' class="black-text">
                <img src='{{asset('public/frontend/images/4.jpg')}}'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner"/>
            </li>
            <li data-transition='random' data-slotamount='7' data-masterspeed='200' data-thumb='{{asset('public/frontend/images/7.jpg')}}' class="black-text">
                <img src='{{asset('public/frontend/images/7.jpg')}}'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner"/>
            </li>
            <li data-transition='random' data-slotamount='7' data-masterspeed='200' data-thumb='{{asset('public/frontend/images/7.jpg')}}' class="black-text">
                <img src='{{asset('public/frontend/images/8.jpg')}}'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner"/>
            </li> -->

          </ul>
          <div class="tp-bannertimer"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- end Slider -->
  <!-- header service -->
  <div class="header-service">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="content">
            <div class="icon-truck">&nbsp;</div>
            <span><strong>FREE SHIPPING</strong> on order over $99</span></div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="content">
            <div class="icon-support">&nbsp;</div>
            <span><strong>Customer Support</strong> Service</span></div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="content">
            <div class="icon-money">&nbsp;</div>
            <span><strong>3 days Money Back</strong> Guarantee</span></div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="content">
            <div class="icon-dis">&nbsp;</div>
            <span><strong class="orange">5% discount</strong> on order over $199</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- end header service --> 
  

