<!-- Header -->
<header class="header-container">
    <div class="header-top">
      <div class="container">
        <div class="row"> 
          <!-- Header Language -->
          <div class="col-xs-6">
            <!-- End Header Currency -->
            
            <marquee behavior="" direction=""><div class="welcome-msg hidden-xs" style="color:red;"> HCM: 78-80-82 HOÀNG HOA THÁM, Q.TÂN BÌNH | HN: 37 NGÕ 121 THÁI HÀ, Q.ĐỐNG ĐA </div></marquee>
          </div>
          <div class="col-xs-6"> 
            <!-- Header Top Links -->
            <div class="toplinks">
              <div class="links">
                <div class=""><i class='fas fa-envelope'></i>Gmail: abulick113@gmail.com</div>
                <div style="margin-left: 10px" class=""><i class='fas fa-phone-square-alt'></i>| Liên hệ: 036 249 9454</div>
              </div>
            </div>
            <!-- End Header Top Links --> 
          </div>
        </div>
      </div>
    </div>
    <div class="header container">
      <div class="row">
        <div class="col-lg-2 col-sm-3 col-md-2 col-xs-12"> 
          <!-- Header Logo --> 
          <a class="logo" title="Magento Commerce" routerLink="/home"><img alt="Magento Commerce" src="assets/images/gearvn-logo.png"></a> 
          <!-- End Header Logo --> 
        </div>
        <div class="col-lg-7 col-sm-4 col-md-6 col-xs-12"> 
          <!-- Search-col -->
          <div class="search-box" style="width: 365px;">
            <form action="" id="search_mini_form" name="Categories">
              <input style="width: 250px" type="text" value="" maxlength="70" class="" name="keywords_submit" placeholder="Tìm kiếm" id="search">
              <input type="submit" id="submit-button" name="search_items" value="Tìm Kiếm" class="search-btn-bg">
            </form>
          </div>
          <!-- End Search-col --> 
        </div>
        <!-- Top Cart -->
        <div class="col-lg-3 col-sm-5 col-md-4 col-xs-12">
          <div class="top-cart-contain">
            <div class="mini-cart">
              <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> <a routerLink="/customer/cart"> <i class="icon-cart"></i>
                <div class="cart-box"><span class="title">My Cart</span><span id="cart-total"> {{total}} </span></div>
                </a></div>
            </div>
            <div id="ajaxconfig_info" style="display:none"> <a href="#/"></a>
              <input value="" type="hidden">
              <input id="enable_module" value="1" type="hidden">
              <input class="effect_to_cart" value="1" type="hidden">
              <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
            </div>
          </div>
          <span class="or"> | </span>
          <div class="login"><a title="Login" routerLink="/customer/login"><span>Đăng nhập</span></a></div>
        </div>
        <!-- End Top Cart --> 
      </div>
    </div>
  </header>
  <!-- end header -->
  <!-- Navbar -->
  <nav>
    <div class="container" >
      <div class="nav-inner"> 
        <ul id="nav" class="hidden-xs">
          <li class="level0 parent drop-menu"><a  routerLink="/home"><span>Trang chủ</span> </a>
          </li>

          <ng-container *ngFor="let mn of menus">
          <li class="level0 parent drop-menu" *ngIf="mn.children !=null"><a routerLink="/list"><span>{{mn.category_name}}</span> </a>
            <ul class="level1">
              <ng-container *ngFor="let m of mn.children">
              <li class="level1 first"><a [routerLink] = "['/product/list',m.category_id]"><span>{{m.category_name}}</span></a></li>
            </ng-container>
            </ul>
          </li>
        </ng-container>
        <ng-container *ngFor="let mn of menus1">
          <li class="level0 parent drop-menu" *ngIf="mn.children !=null"><a routerLink=""><span>{{mn.brand_name}}</span> </a>
            <ul class="level1" style="height: 470px;width: 800px;">
              <ng-container *ngFor="let m of mn.children">
              <li class="level1 first" style="display: inline-block;"><a [routerLink] = "['/product/list-brand',m.brand_id]"><span>{{m.brand_name}}</span></a></li>
            </ng-container>
            </ul>
          </li>
        </ng-container>
          <!-- <li class="level0 parent drop-menu"><a routerLink="/list"><span>Thương Hiệu</span> </a>
            <ul class="level1" style="height: 470px;width: 800px">
              <li style="float: left;width: 150px" class=""><a href=""><span>dell</span></a></li>
              <li style="float: left;width: 150px" class=""><a href=""><span>asus</span></a></li>
              <li style="float: left;width: 150px" class=""><a href=""><span>acer</span></a></li>
            </ul>
          </li> -->
          
          <li class="level0 parent drop-menu"><a href="blog.html"><span>Tổng Đài</span> </a>
          </li>
          <li class="level0 parent drop-menu"><a href="blog.html"><span>Tuyển Dụng</span> </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end nav -->
  <!-- Slider -->
  <div id="magik-slideshow" class="magik-slideshow">
    <div class="wow">
      <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container' >
        <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
          <ul>
            <li data-transition='random' data-slotamount='7' data-masterspeed='10' data-thumb='../assets/slider/1.png'>
                <img src="../assets/slider/1.png" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner"/>
            </li>
            <li data-transition='random' data-slotamount='7' data-masterspeed='10' data-thumb='../assets/slider/2.png' class="black-text">
                <img src='../assets/slider/2.png'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner"/>
            </li>
            <li data-transition='random' data-slotamount='7' data-masterspeed='200' data-thumb='../assets/slider/3.png' class="black-text">
                <img src='../assets/slider/3.png'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner"/>
            </li>
            <li data-transition='random' data-slotamount='7' data-masterspeed='200' data-thumb='../assets/slider/4.jpg' class="black-text">
                <img src='../assets/slider/4.jpg'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner"/>
            </li>
            <li data-transition='random' data-slotamount='7' data-masterspeed='200' data-thumb='../assets/slider/5.jpg' class="black-text">
                <img src='../assets/slider/5.jpg'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner"/>
            </li>
            <li data-transition='random' data-slotamount='7' data-masterspeed='200' data-thumb='../assets/slider/6.png' class="black-text">
                <img src='../assets/slider/6.png'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner"/>
            </li>
            

          </ul>
          <div class="tp-bannertimer"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- end Slider -->
  <!-- header service -->
  <div class="header-service">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="content">
            <div class="icon-truck">&nbsp;</div>
            <span><strong>FREE SHIPPING</strong> on order over $99</span></div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="content">
            <div class="icon-support">&nbsp;</div>
            <span><strong>Customer Support</strong> Service</span></div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="content">
            <div class="icon-money">&nbsp;</div>
            <span><strong>3 days Money Back</strong> Guarantee</span></div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="content">
            <div class="icon-dis">&nbsp;</div>
            <span><strong class="orange">5% discount</strong> on order over $199</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- end header service --> 
  

