<section class="recommend container">
  <div class="new-pro-slider">
    <div class="new_title center">
      <h2>Sản phẩm mới</h2>
    </div>
      <ul class="products-grid">
        <ng-container *ngFor="let new of list_item_new">
          <li class="item col-lg-2 col-md-3 col-sm-6 col-xs-6">
            <div class="col-item">
              <div class="sale-label sale-top-right">New</div>
              <div class="images-container"> <a class="product-image" title="Sample Product" [routerLink]="['/product/detail',new.product_id]"> <img src="assets/product/{{new.product_image}}" class="img-responsive" alt="a" /> </a>
                <div class="actions">
                  <div class="actions-inner">
                    <button type="button" style="width: 100%;" title="Add to Cart" class="button btn-cart" (click)="addToCart(new)"><span>Add to Cart</span></button>
                  </div>
                </div>
                <div class="qv-button-container"> <a class="qv-e-button btn-quickview-1" [routerLink]="['/product/detail',new.product_id]"><span><span>Quick View</span></span></a> </div>
              </div>
              <div class="info">
                <div class="info-inner">
                  <div class="item-title"> <a title=" Sample Product" [routerLink]="['/product/detail',new.product_id]"> {{new.product_name}} </a> </div>
                  <!--item-title-->
                  <div class="item-content">
                    <div class="ratings">
                      <div class="rating-box">
                        <div style="width:60%" class="rating"></div>
                      </div>
                    </div>
                    <div class="price-box">
                      <p class="special-price"> <span class="price"> {{new.product_price | currency:"VND" }} </span> </p>
                    </div>
                  </div>
                  <!--item-content--> 
                </div>
                <!--info-inner--> 
                
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </li>
        </ng-container>
        
                    
      </ul>
</div>
  <br>
  <br>
  <div class="new-pro-slider" style="float:left;margin-top:50px">
      <div class="new_title center">
        <h2>Sản Phẩm</h2>
      </div>
        <ul class="products-grid">
          <ng-container *ngFor="let product of list_item">
            <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="col-item">
                <div class="images-container"> <a class="product-image" title="Sample Product" [routerLink]="['/product/detail',product.product_id]"> <img src="assets/product/{{product.product_image}}" class="img-responsive" alt="a" /> </a>

                    <div class="actions">
                      <div class="actions-inner">
                        <button type="button" class="button btn-cart" (click)="addToCart(product)"><span>Add to Cart</span></button>
                        <ul class="add-to-links">
                          <li><a (click)="addToCart(product)" title="Add to cart" class="link-wishlist"><span>Add to cart</span></a></li>
                          <li><a (click)="addToCart(product)" title="Add to cart" class="link-compare "><span>Add to cart</span></a></li>
                        </ul>
                      </div>
                    </div>

                  <div class="qv-button-container"> <a class="qv-e-button btn-quickview-1" [routerLink]="['/product/detail',product.product_id]"><span><span>Quick View</span></span></a> </div>
                </div>
                <div class="info">
                  <div class="info-inner">
                    <div class="item-title"> <a title=" Sample Product" [routerLink]="['/product/detail',product.product_id]"> {{product.product_name}} </a> </div>
                    <!--item-title-->
                    <div class="item-content">
                      <div class="ratings">
                        <div class="rating-box">
                          <div style="width:60%" class="rating"></div>
                        </div>
                      </div>
                      <div class="price-box">
                        <p class="special-price"> <span class="price"> {{product.product_price | currency:"VND"}} </span> </p>
                      </div>
                    </div>
                    <!--item-content--> 
                  </div>
                  <!--info-inner--> 
                  
                  <!--actions-->
                  
                  <div class="clearfix"> </div>
                </div>
              </div>
            </li>
          </ng-container>
          
                      
        </ul>
  </div>
  <div>
    <ngb-pagination style="float: right;" [collectionSize]="list_item[0].total" [pageSize]="size" [(page)]="index" [maxSize]="8" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
         </div>
</section>


