<!-- Footer -->
<footer class="footer">
    <div class="footer-middle container">
      <div class="col-md-3 col-sm-4">
        <div class="footer-logo"><a href="index.html" title="Logo"><img src="assets/images/gearvn-logo.png" alt="logo"></a></div>
        <p></p>
        <div class="payment-accept">
          <div>
            <img src="assets/images/payment-1.png" alt="payment"> 
            <img src="assets/images/payment-2.png" alt="payment"> 
            <img src="assets/images/payment-3.png" alt="payment"> 
            <img src="assets/images/payment-4.png" alt="payment">
        </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <h4>Hướng dẫn</h4>
        <ul class="links">
          <li class="first"><a title="How to buy">Cách mua</a></li>
          <li><a title="FAQs">Câu hỏi thường gặp</a></li>
          <li><a title="Payment">Thanh toán</a></li>
          <li><a title="Shipment&lt;/a&gt;">Giao hàng</a></li>
          <li><a title="delivery">Vận chuyển</a></li>
          <li class="last"><a title="Return policy">Chính sách</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-4">
        <h4>Tư vấn</h4>
        <ul class="links">
          <li class="first"><a title="Your Account">Tài khoản</a></li>
          <li><a title="Information" >Thông tin</a></li>
          <li><a title="Addresses" >Địa chỉ</a></li>
          <li><a title="Addresses" >Sale</a></li>
          <li><a title="Orders History" >Lịch sử mua hàng</a></li>
          <li class="last"><a title=" Additional Information" >Thông tin thêm</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-4">
        <h4>Thông tin</h4>
        <ul class="links">
          <li class="first"><a title="Site Map">Bản đồ</a></li>
          <li><a  title="Search Terms">Điều khoản</a></li>
          <li><a  title="Advanced Search">Tìm kiếm nâng cao</a></li>
          <li><a title="Contact Us">Liên hệ</a></li>
          <li><a title="Suppliers">Nhà cung cấp</a></li>
          <li class=" last"><a href="#" title="Our stores" class="link-rss">Cửa hàng</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-4">
        <h4>Thông tin liên hệ</h4>
        <div class="contacts-info">
          <address>
          <i class="add-icon">&nbsp;</i>Chí Tân, Khoái Châu, <br>
          &nbsp;Hưng Yên
          </address>
          <div class="phone-footer"><i class="phone-icon">&nbsp;</i> +036 249 9454</div>
          <div class="email-footer"><i class="email-icon">&nbsp;</i> <a href="mailto:support@magikcommerce.com">abulick113@gmail.com</a> </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom container">
      <div class="col-sm-5 col-xs-12 coppyright" style="margin-left: 500px"> &copy; 2015 Magikcommerce. All Rights Reserved.</div>
    </div>
  </footer>
  <!-- End Footer --> 
  <div class="social">
    <ul>
      <li class="fb"><a href="#"></a></li>
      <li class="tw"><a href="#"></a></li>
      <li class="googleplus"><a href="#"></a></li>
      <li class="rss"><a href="#"></a></li>
      <li class="pintrest"><a href="#"></a></li>
      <li class="linkedin"><a href="#"></a></li>
      <li class="youtube"><a href="#"></a></li>
    </ul>
  </div>